body{
    background: url('sai-baba-hd-image-download.jpg');
    background-size: cover;
}
div{
    text-align: center;
    background-color: blanchedalmond;
    color: red;
    outline: auto;
    width:40%;
    margin: 180px auto;
    border-radius: 20px;


}